@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');

*{
 margin:0;
 padding:0;
 box-sizing:border-box
}

.body{
 background: black;
}

.app{
 height:100vh;
 display:flex;
 justify-content: space-evenly;
 align-items: center;
 position:relative;
 overflow:hidden;
 background: transparent;
}

.time-select, .sound-picker, .player-container{
 height: 80%;
 flex:1;
 display:flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
}

.player-container{
 position:relative;
}

.player-container svg{
 position:absolute;
 height:50%;
 top:50%;
 left:50%;
 transform:translate(-50%, -50%) rotate(-90deg);
 pointer-events: none;
}


.time-display{
 position: absolute;
 bottom:10%;
 color:white;
 font-size:50px;
 font-family: 'Roboto', sans-serif;
}

video{
 position:fixed;
 top:0%;
 left: 0%;
 width:100%;
 z-index: -10;
}

.time-select button, .sound-picker button{
 color:white;
 width:30%;
 height:10%;
 background:none;
 border: 2px solid white;
 cursor:pointer;
 border-radius: 5px;
 font-size:20px;
 transition: all .5s ease;
}

.time-select button:hover{
 color:black;
 background:white;
}

.sound-picker button{
 border:none;
 height:120px;
 width:120px;
 border-radius: 50%;
 padding:30px;
}

.sound-picker button:nth-child(1){
 background: #4972a1;
}
.sound-picker button:nth-child(2){
 background: #a14f49;
}

.sound-picker button img{
 height:100%;
}

@media only screen and (max-width: 1705px) {
 .app{
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
 }
 .sound-picker{
  display:flex;
  flex-direction:row;
  grid-row: 1/2;
  grid-column:2/3;
  width: 100%;
  margin: 0 auto;
 }
 .player-container{
  grid-row: 2/3;
  grid-column: 2/3;
 }
 .time-select{
  height:200%;
  width:80vw;
  grid-column: 2/3;
  grid-row: 3/4;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
 }
 .time-select button{
  font-size:15px;
  height:50px;
  width:95px;
 }
 .time-select button:hover{
  color:black;
  background:white;
 }

 .player-container svg{
  height:150%;  
 }

 .player-container .play{
  height:30%;  
 }
 
 .player-container .time-display {
  transform: translateY(70%);
  font-size:30px;
 }

 .sound-picker button{
  border:none;
  height:80px;
  width:80px;
  border-radius: 50%;
  padding:20px;
 }

 .sound-picker button:hover {
  background: rgba(35, 212, 88, 0.596)
 }
 
 video{
  min-width:100%;
  min-height:100%;
  width:auto;
  height:auto;
 }
}